.dropdown-container{
    background-color: #fff;
    width: 300px;

    .dropdown-btn{
        width: 300px;
        height: 35px;
        background: #fff;
        border: 1px solid #e336ec;
        border-radius: 8px;
        text-align: left;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 3px 2px 4px 0px rgba(57,63,70,0.08);
        cursor: pointer;
        
        .placeholder{
            color: #c0c0c0;
        }

        .dropdown-icon.rotateImg{
            transform: rotate(180deg);
        }
    }
    .dropdown-list-group{
        width: 300px !important;
        position: absolute;
        width: max-content;
        border: 1px solid #e336ec;
        border-radius: 8px;
        margin-top: 2px;
        box-shadow: 3px 2px 4px 0px rgba(57,63,70,0.08);
        z-index: 1;
        background: #fff;
        cursor: pointer;

        ul{
            list-style: none;
            padding: 0;
            margin: 5px;
            margin-left: 0;
            max-height: 320px;
            overflow: auto;
        }
        
        .dropdown-list-item{
            padding: 0 10px;
            margin-right: 5px;
            height: 40px;
            display: flex;
            align-items: center;

            &:hover{
                background-color: #e6f6fc;
            }
        }
    }
}