<div class="dropdown-container">
  <button class="dropdown-btn" (click)="toggleDropdown()">
    <span *ngIf="selectedVal">{{ selectedVal}}</span>
    <span *ngIf="!selectedVal" class="placeholder">{{ placeholder}}</span>
    <img class="dropdown-icon" [ngClass]="{'rotateImg': isDropDownOpen }" src="assets/dropdown-icon.png" width="20px">
  </button>

  <div class="dropdown-list-group" *ngIf="isDropDownOpen">
    <ul>
      <li (click)="selectOption()" class="dropdown-list-item">- Select -</li>
      <li (click)="selectOption(item)" class="dropdown-list-item"
        *ngFor="let item of options">
        {{ item.value }}
      </li>
    </ul>
  </div>
</div>
